.wrapper{
    margin-top: 25px;
    padding: 35px 30px;
    border: 1px solid var(--global-4);
    background-color: var(--global-6);
    
    // background-image:url("../../../assets/background.png");
    border-radius: 25px;
}