.wrapper {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    max-width: 1025px;
    width: 100%;
    padding: 85px 0px;
    width: 100%;

    .marquee {
        flex: 0 0 auto;
        min-width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        animation: scroll 51s linear 0s infinite;
        animation-play-state: running;
        animation-delay: 0s;
        animation-direction: normal;

        .list {
            display: inline-block;
            margin-block: 0;
            padding-inline: 0;
            white-space: nowrap;

            li {
                display: inline-block;
                font-family: "Exan";
                font-size: 54px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                padding-left: 54px;
                position: relative;
                text-transform: uppercase;
                color: var(--global-1);
            }

        }
    }

    // .text1 {
    //     display: inline-block;
    //     animation: marquee 30s linear infinite;
    //     font-family: 'Roboto';
    // }

}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}