.wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: var(--global-2);
    width: 100%;

    .app {
        max-width: 1025px;
        justify-content: space-between;
        width: 100%;
        display: flex;

        .logo {

            img {
                width: 60px;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 20px;

            .themeChanger {
                background-color: orange;
                padding: 3px;
                border-radius: 8px;
            }
        }
    }
}