.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/background.png");
    background-size: cover;
    z-index: 3;
    animation: closing 5s linear;

    .text {
        z-index: 4;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes closing {
    0% {
        opacity: 1;
        width: 100%;
    }

    25% {
        opacity: 1;
        width: 100%;
    }

    60% {
        opacity: 1;
        width: 100%;
    }

    100% {
        opacity: 0;
        width: 100%;
    }
}